:root {
    --primary: #7371fc;
  }

  body {
    padding-bottom: 60px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ganti height menjadi min-height */
    margin: 0;
    flex-direction: column; /* Tambahkan ini agar elemen bisa di-stack secara vertikal */
  }

  .signup-container {
    max-width: 500px;
    width: 90%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .signup-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .form-label {
    font-weight: bold;
    color: #555;
  }

  .btn-primary {
    background-color: var(--primary);
    font-weight: bold;
  }

  .btn-primary:hover {
    background-color: #5a58e6;
  }

  @media (max-width: 576px) {
    .signup-container {
      width: 95%;
      padding: 15px;
    }

    .signup-header {
      font-size: 20px;
    }
  }